.side-bar-container {
  width: 230px;
  display: flex;
  justify-content: center; 
  transition: all 0.3s;
}

.side-bar-hide-container {
    width: 0px;
    overflow: hidden;
}

.open-sidebar-button {
    position: absolute;
    left: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 4px;
}

.open-sidebar-button:hover {
    background-color: #e4e4e8;
}

.side-bar-responsive {
    width: 90%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    /* align-items: flex-start; */
    margin: 24px 14px;
}

.side-bar-toggle {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.character-ai-head {
    color: #26272b;
    font-size: 18px;
}

.double-arrow-button {
    border: none;
    background-color: transparent;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    padding: 4px;
    cursor: pointer;
}

.double-arrow-button:hover {
    background-color: #e4e4e8;
}

.create-button-host {
    display: flex;
    align-items: flex-end;
    /* position: relative; */
    /* display: inline-block; */
}

.create-button-container {
    background-color: #ececee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 24px;
    padding: 10px 18px;
    width: 110px;
    margin-top: 12px;
    cursor: pointer;
}

.create-button {
    border: none;
    margin-left: 2px;
    font-size: 14px;
    background-color: transparent;
}

.create-button-container:hover {
    background-color: #dbdbe0;
}

.discover-container {
    display: flex;
    align-items: center;
    background-color: #ececee;
    padding: 10px 14px;
    width: 100%;
    margin-top: 14px;
    border-radius: 8px;
    cursor: pointer;
}

.discover {
    margin-left: 10px;
    font-size: 14px;
}

.discover-container:hover {
    background-color: #dbdbe0;
}

.char-voice {
    background-color: #e4e4e7;
    padding: 4px;
    border-radius: 12px;
    position: absolute;
    z-index: 1;
    left: 130px;
    top: 70px;
    /* display: none; */
    visibility: hidden;
    transition: all 0.5s;
}

.char-voice:hover{
    visibility: visible;
}

.create-button-container:hover + .char-voice {
    /* display: block; */
    visibility: visible;
}

.char-voice-container {
    display: flex;
    align-items: center;
    padding: 10px 12px;
    border-radius: 8px;
    cursor: pointer;
}

.char-voice-container:hover {
    background-color: #c8c8cf;
    font-weight: 600;
}

.char-voice-para {
    color: #353539;
    font-size: 15px;
    margin-left: 14px;
    margin-right: 22px;
}

.user-icon {
    color: #adadb3;
    font-size: 20px;
    border: 2px solid #adadad;
    border-radius: 4px;
    padding: 2px;
}

.sidebar-chats {
    font-size: 14px;
    font-weight: 600;
    margin-top: 24px;
    margin-bottom: 12px;
}

.sidebar-today {
    font-size: 12px;
    color: #393a3e;
    margin-bottom: 16px;
}

.sidebar-list {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.sidebar-list-item {
    display: flex;
    align-items: center;
    padding: 6px;
    border-radius: 6px;
    /* background-color: #26272b; */
    width: 100%;
    cursor: pointer;
    
}

.sidebar-list-item:hover {
    background-color: #d4d5d7;
    transform: scale(1.1);
}

.sidebar-list-img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 8px;
}

.sidebar-list-with {
    font-size: 13px;
}