.category-list-item {
    list-style: none;
}

.category-button {
    background-color: #ececee;
    border: none;
    padding: 12px;
    border-radius: 12px;
    font-size: 14px;
    cursor: pointer;
    color: #534f4f;
    font-weight: 600;
}

.category-button:hover {
    color: #000000;
}

.active-tab {
    background-color: #000000;
    color: #ffffff;
}

.active-tab:hover {
    background-color: #000000;
    color: #ffffff;
}