.try-these-container {
    display: flex;
    justify-content: center;
}

.try-these-responsive-container {
    width: 90%;
}

.try-these-head {
    color: #27282b;
    font-size: 16px;
    margin-top: 24px;
    margin-bottom: 14px;
    font-weight: 600;
}

.try-these-list {
    display: flex;
    flex-direction: column;
    height: 160px;
    flex-wrap: wrap;
    overflow: auto;
    padding-left: 0;
    gap: 8px;
    list-style: none;
}

.try-these-list-item {
    background-color: #ececee;
    display: flex;
    align-items: center;
    width: 280px;
    padding: 10px;
    border-radius: 16px;
    flex-shrink: 0;
    cursor: pointer;
}

.try-these-list-item:hover {
    background-color: #e4e4e8;
}

.try-these-image {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.try-these-names {
    margin-left: 10px;
}

.try-these-type {
    font-size: 15px;
    color: #2b2c2e;
}

.try-these-with {
    font-size: 14px;
    color: #5c5c65;
}