.seach-and-toggle-container {
    display: flex;
    justify-content: center;
}

.responsive-search-toggle-container {
    width: 90%;
    display: flex;
    justify-content: flex-end;
}

.search-container {
    background-color: #ececee;
    display: flex;
    align-items: center;
    margin-top: 24px;
    padding: 10px 14px;
    border-radius: 24px;
}

.seach-input {
    border: none;
    outline: none;
    padding: 4px 6px;
    background-color: transparent;
    width: 220px;
}

@media screen and (min-width: 768px) {
    .seach-input {
        width: 280px;
    }
}