.try-saying-container {
    display: flex;
    justify-content: center;
}

.try-saying-responsive-container {
    width: 90%;
}

.try-saying-head {
    color: #27282b;
    font-size: 16px;
    margin-top: 24px;
    margin-bottom: 14px;
    font-weight: 600;
}

.try-saying-list {
    display: flex;
    overflow: auto;
    padding-left: 0;
    gap: 8px;
    list-style: none;
}

.try-saying-list-item {
    background-color: #ececee;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    width: 380px;
    padding: 14px;
    border-radius: 16px;
    flex-shrink: 0;
    cursor: pointer;
}

.try-saying-list-container {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    margin-bottom: 12px;
}

.try-saying-img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.try-saying-name {
    font-size: 13px;
    color: #2b2c2e;
    font-weight: 600;
}

.try-saying-names-container {
    display: flex;
    align-items: center;
    gap: 3px;
    white-space: nowrap;
}

.try-saying-by {
    font-size: 12px;
    color: #5c5c65;
}

.try-saying-chats {
    font-size: 14px;
    color: #28292d;
}

.try-saying-likes {
    font-size: 14px;
    color: #28292d;
}

.try-saying-questions {
    background-color: #dbdde0;
    margin-bottom: 4px;
    padding: 8px;
    border-radius: 8px;
    white-space: nowrap;
    font-size: 14px;
}

.try-saying-questions:hover {
    background-color: #d0d1d3;
}